body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #F4f4f4;
    color: #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.clock {
    position: fixed;
    top: 10px;
    right: 10px;
}

.date {
    margin-top: 50px;
    font-size: 15px;
}

.translation-button {
    position: fixed;
    top: 10px;
    left: 10px;
}

#translateButton {
    background-color: #636363;
    color: #F6F2E5;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#translateButton:hover {
    background-color: #444;
}
.music-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#musicButton {
    background-color: #636363;
    color: #F6F2E5;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#musicButton:hover {
    background-color: #444;
}

.language-options {
    display: none;
    position: absolute;
    top: 50px;
    right: -60px; /* Adjust the right offset as needed */
    background-color: #F6F2E5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.show {
    display: block;
}

.language-option {
    display: block;
    padding: 5px 20px; /* Increase padding to provide more space */
    background-color: #636363;
    border: none;
    color: #F6F2E5;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.language-option:hover {
    background-color: #444;
}

